<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B83MV7YCDW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-B83MV7YCDW');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7932237784497010"
    crossorigin="anonymous"></script>
  <!-- Google end -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../css/bootstrap.css">
  <link rel="stylesheet" href="../../css/noscroll.css">
  <title>1からNまで押せたね</title>
</head>

<body id="number2" style="height:100dvh">
  <div v-if="!load">
    なうろーでぃんぐ
  </div>
  <div class="d-none h-100" id="loading">
    <div class="h-25">
      <div class="h-50"></div>
      <h1 class="h-50 text-center">next: {{now}}</h1>
    </div>
    <div class="h-50 text-center">
      <div class="row-cols-4 h-100">
        <button class="h-25 btn btn-light fs-1" v-for="(item,index) in nums" @mousedown="push(index)"
          @touchstart="push(index)">{{item}}</button>
      </div>
    </div>
    <div class="h-50 text-center">{{time}}ms</div>
    <div class="h-25"></div>
    <div class="modal" id="endmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content container">
          <div class="modal-header">
            <h5 class="modal-title">N={{now - 1}}</h5>
          </div>
          <div class="modal-body">
            <a class="btn btn-dark btn-lg m-3" :href="twibun" tabindex="-1" id="b" target="_blank"
              rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                <path
                  d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
              </svg> ポストする</a>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" @click="reset()">リトライ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../js/bootstrap.bundle.js"></script>
  <script src="../../js/vue.global.prod.js"></script>
  <script src="../../js/noscroll.js"></script>
  <script src="./js/number2.js"></script>
</body>

</html>